html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Main-body-wrapper{
  display: flex;
}
.side-navigation{
  padding: 5px ;
  background-color: #007bff;
}
.side-navigation .menu{
list-style: none;
padding: 0;
}
#save{
  font-size:14px;
}
#print{
  font-size:14px;
}
.side-navigation .menu_items{
margin: 10px 0;
}
.side-navigation .menu_items button{
outline: none;
box-shadow: none;
border:none;
color: #fff;
}
.side-navigation .menu_items button i{
  font-size: 18px;
}
.side-navigation .toggle_menu{
margin: 5px 0;
border-bottom: 1px solid rgba(255,255,255,0.5);
padding: 2px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*  */
.Main-body-container{
  height: 100vh;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: hidden;

}

.Main-header{
  border-bottom: 1px solid #ccc;
  background-color: #007bff;
  
}
.Main-header-white{
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  
}
.Main-header .navbar{
  display: flex;
  height: 50px;
}
.Main-header-white .navbar{
  display: flex;
  height: 50px;
}
.spreadSheetToggleBtn{
  position: absolute;
  top:50%;
  left:-10px;
  z-index: 99999;
  color: #fff;
  /* background-color: rgba(0,123,255,0.7) !important; */
  background-color: rgba(0,123,255,1) !important;
  border-radius: 0 50px 50px 0 !important;
}
.e-toolbar .e-icons{
  padding: 10px !important;
}
.spreadSheetToggleBtn i{
  font-size: 14px;
  color: #fff;
}
.title-icon{
padding: 0 5px;
}
.spread_sheet_icon{
color:#22a163 ;
}
.close-menu-btn{
  position: absolute;
  top:5px;
  right: -15px;
}
.spread_sheet_menu{
  width: 280px;
position: absolute;
background-color: #f8f9fa;
left: 0;
z-index: 9999;
height: 100%;
box-shadow: 3px 0 6px 0px rgb(0 0 0 / 20%);
}
.right-side-nav{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #777;
}
.navbar-light .navbar-brand{
  color:#fff !important	;
}
.Main-header-white .navbar-light .navbar-brand{
  color: #111 !important;
    font-weight: 500;
}
.right-side-nav .menu-item{
  margin: 0 10px;
}
.right-side-nav i.menu-item{
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}
.Main-header-white .right-side-nav i.menu-item{

  color: #007bff;
}
.menu-item-group{
  padding: 0 15px;
  border-right: 1px solid #ddd;
}
.user_profile{
display: flex;
align-items: center;
cursor: pointer;
padding: 0 15px;
}
.user_profile i{
  color:#fff;
}
.Main-header-white .user_profile i{
  color:#007bff;
}
.user_avtar{
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #007bff;
  margin: 0 5px;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}
.Main-header-white .user_avtar{
 
  background-color: #007bff;
  color: #fff;

}

.closepos {
  position: absolute;
  top: -37px !important;
  right: -12px;
}
.dragValue{
  color: blue;
}
.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
  width: auto !important;
}

.e-spreadsheet .e-ribbon .e-toolbar .e-btn:not(.e-tbar-btn):not(.e-split-colorpicker) {
  line-height: 41px !important;
}

.Main-body{
  flex-grow: 1;
  position: relative;
}
.Main-footer{
height: 30px;
background-color: #efefef;
color: #333;
text-align: center;
line-height: 30px;
width: 100%;
justify-content: center;
font-weight: 600;
font-size: 14px;
z-index: 9;
}
#spreadsheet_sheet_panel{
  height: 100% !important;
}
.link_menu_wrapper{
  padding: .5rem 1rem;
}
.SpreadSheet_name{
  display: flex;
font-size: 15px;
color: #333;
font-weight: 500;
border-bottom: 1px solid #ccc;
cursor: pointer;
padding: 3px 0;
margin-bottom: 10px;

}
.json_name{
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px 15px 15px 5px;
  cursor: pointer;
  font-weight: 500;
}
.json_name:hover{
  background-color: #eee;
}


/* globaly removed extra padding */
div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px
}

div.col-lg-1,div.col-lg-10,div.col-lg-11,div.col-lg-12,div.col-lg-2,div.col-lg-3,div.col-lg-4,div.col-lg-5,div.col-lg-6,div.col-lg-7,div.col-lg-8,div.col-lg-9,
div.col-md-1,div.col-md-10,div.col-md-11,div.col-md-12,div.col-md-2,div.col-md-3,div.col-md-4,div.col-md-5,div.col-md-6,div.col-md-7,div.col-md-8,div.col-md-9,
div.col-sm-1,div.col-sm-10,div.col-sm-11,div.col-sm-12,div.col-sm-2,div.col-sm-3,div.col-sm-4,div.col-sm-5,div.col-sm-6,div.col-sm-7,div.col-sm-8,div.col-sm-9,
div.col-xs-1,div.col-xs-10,div.col-xs-11,div.col-xs-12,div.col-xs-2,div.col-xs-3,div.col-xs-4,div.col-xs-5,div.col-xs-6,div.col-xs-7,div.col-xs-8,div.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}


/* poc document styles */

.App-logo{
  width: 255px;
  height: auto;
}

.main-doc-body-wrapper{
  flex:1 1 100px;
  overflow: hidden;
  position: relative;
  width: calc(100vw - 54px);
}

.sidemenu_document_list{
  width: 280px;
position: fixed;
background-color: #f8f9fa !important;
left: 54px;
z-index: 9999;
height: 100%;
box-shadow: 3px 0 6px 0px rgb(0 0 0 / 20%);
}
.doument_list_header{
  border-bottom: 1px solid #007bff;
  color: #333;
  padding-bottom: 5px;
}

.sidemenu_detail_list{
  width: 280px;
position: absolute;
background-color: #f8f9fa !important;
right: 0;
z-index: 9999;
height: 100%;
box-shadow: -3px 0 6px rgb(0 0 0 / 20%);
overflow: auto;
}

.doc_file_name{
  display: flex;
  flex-wrap: nowrap !important;
font-size: 16px;
color: #333;
font-weight: 500;
border-bottom: 1px solid #ccc;
align-items: baseline;
padding: 3px 0;
}
.html_file_name{
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px 5px 20px;
  border-radius: 5px 15px 15px 5px;
}
.document_icon{
  color:#2b579a ;
  font-size: 18px;
  padding-right: 10px;
  }
  .right_menu_title{
    display: flex;
    flex-wrap: nowrap !important;
    width: 100%;
    font-size: 12px !important;
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    align-items: baseline;
    padding: 3px 0;
  }

  .html_file_name:hover{
    background-color: #eee;
  }

  .project_value{
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 3px;
    border-radius: 20px;
    cursor: all-scroll;
  }
  .project_value:hover{
    background-color: #eee;
  }

.documentToggleBtn{
  position: fixed;
  top:50%;
  left: 43px;
  z-index: 99999;
  color: #fff;
  /* background-color: rgba(0,123,255,0.7) !important; */
  background-color: rgba(0,123,255,1) !important;
  border-radius: 0 50px 50px 0 !important;
}
.documentToggleBtn i{
  font-size: 14px;
  color: #fff;
}


.detailsToggleBtn{
  position: absolute;
  top:61px;
  right:50px;
  width: 40px;
  /* / color: #fff; / */
  background-color: transparent !important;
  border-radius: 50px !important;
  border: none;
  
}
.detailsCloseeBtn{
  position: absolute;
  top:10px;
  right:5px;
  width: 40px;
  /* / color: #fff; / */
  background-color: transparent !important;
  border-radius: 50px !important;
  border: none;  
}
.detailsCloseeBtn i{
  font-size: 18px;
  color: #555;
}
.detailsCloseeBtn i:hover{
  font-size: 20px;
  color: rgb(255, 56, 56);
}
.detailsToggleBtn i{
  font-size: 23px;
  color: rgba(0, 0, 0, 0.54) !important;
}

.user_initials {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px !important;
  font-weight: 700;
  font-size: 12px;
  margin: 0 7px;
}
.user_color1{
  background: #79004f3f;
  color: #79004e;
}
.user_color2{
  background: #00437931;
  color: #013477;
}
.time_stamp{
  font-size: 11px;
  margin-left: 10px;
  font-weight: 400;
}

.doc_project_title{
  background: #007bff31;
  padding: 5px 20px;
  font-size: 16px;
}

/* 17-6-2021 Mahesh */
#spreadSheeteditor_container_body{
  height: calc(100vh - 211px);
  width: calc(100vw - 54px);
}
#documenteditor_container_body{
  height: calc(100vh - 114px);
}

html,body{
overflow: hidden;
}